.related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-top: 40px;
}

.related-products h2{
    font-size: 50px;
    font-weight: 600;
}

.related-products hr{
    width: 200px;
    height: 5px;
    border-radius: 10px;
    background: black;
}
.related-product{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}